.fixed .wrapper {
	overflow: auto;
}

.map-container {
	overflow: auto;
	padding: 1px;
}

.map {
	table-layout: fixed;
	max-width: 100%;

	margin: auto;
	text-align: center;
	border-collapse: collapse;
}

.map th, .map td {
	overflow: auto;

	text-align: inherit;
	border: 1px solid;
	min-width: 20px;
}

.map .fakenode {
	border-style: none;
}

.company-deselected {
	background-color: grey !important;
	background-image: none !important;
}

.company-label, .map .realnode {
	cursor: pointer;
	color: black;
}

.logo-lg {
	margin: auto;
}

.direct-chat-msg.right .direct-chat-text, .direct-chat-msg .direct-chat-text {
	margin: 5px 5px 0px 5px;
}
