body {
	/*text-align: center;*/
}

.logo {
	max-width: 100%;
}

/*.row > div {*/
	/*overflow: auto;*/
/*}*/

table {
	table-layout: fixed;
	max-width: 100%;

	margin: auto;
	text-align: center;
	border-collapse: collapse;
}   

th, td {
	overflow: auto;

	text-align: inherit;
	border: 1px solid;
	min-width: 20px;
}

.fakenode {
	border: none;
}   

fieldset {
	border: 1px groove;
	padding: 10px;
}   

legend {
	width: auto;
	margin: 0px;
}

input[type="number"] {
	width: 4em;
}

